button{
    background-color: rgb(57, 193, 246);
    color: white;
    font-size: 20px;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
}
button:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 20px;
}
h1{
    text-transform: uppercase;
    font-size: 20px;
}
a{
    text-decoration: none;
}
#p1{
    color: rgb(0, 0, 0);
    font-size: 20px;
}
.h1{
    color: rgb(0, 0, 0);
}
.logo{
    width: 180px;
    height: 30px;
    size: cover;
}
.header{
    border: 30px solid rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav{
    display: flex;
    gap: 20px;
    color: rgb(0, 0, 0);
    font-style: sans-serif;
}  
